WebMelanie2/src/conf/xml-resources/web-service-references/PresupuestoWs/wsdl/localhost_8080/ServicesPresupuestos/PresupuestoWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServicesPresupuestos">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.melani.com/" schemaLocation="http://localhost:8080/ServicesPresupuestos/PresupuestoWs?xsd=1"/>
</xsd:schema>
</types>
<message name="selectAllPresupuestosJPA">
<part name="parameters" element="tns:selectAllPresupuestosJPA"/>
</message>
<message name="selectAllPresupuestosJPAResponse">
<part name="parameters" element="tns:selectAllPresupuestosJPAResponse"/>
</message>
<message name="ShowReportPresupuesto">
<part name="parameters" element="tns:ShowReportPresupuesto"/>
</message>
<message name="ShowReportPresupuestoResponse">
<part name="parameters" element="tns:ShowReportPresupuestoResponse"/>
</message>
<message name="ShowReportVerPresupuesto">
<part name="parameters" element="tns:ShowReportVerPresupuesto"/>
</message>
<message name="ShowReportVerPresupuestoResponse">
<part name="parameters" element="tns:ShowReportVerPresupuestoResponse"/>
</message>
<message name="verPresupuestosPaginados">
<part name="parameters" element="tns:verPresupuestosPaginados"/>
</message>
<message name="verPresupuestosPaginadosResponse">
<part name="parameters" element="tns:verPresupuestosPaginadosResponse"/>
</message>
<message name="addBudgets">
<part name="parameters" element="tns:addBudgets"/>
</message>
<message name="addBudgetsResponse">
<part name="parameters" element="tns:addBudgetsResponse"/>
</message>
<message name="searchOneBudget">
<part name="parameters" element="tns:searchOneBudget"/>
</message>
<message name="searchOneBudgetResponse">
<part name="parameters" element="tns:searchOneBudgetResponse"/>
</message>
<message name="getRecordCount">
<part name="parameters" element="tns:getRecordCount"/>
</message>
<message name="getRecordCountResponse">
<part name="parameters" element="tns:getRecordCountResponse"/>
</message>
<portType name="PresupuestoWs">
<operation name="selectAllPresupuestosJPA">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/selectAllPresupuestosJPARequest" message="tns:selectAllPresupuestosJPA"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/selectAllPresupuestosJPAResponse" message="tns:selectAllPresupuestosJPAResponse"/>
</operation>
<operation name="ShowReportPresupuesto">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/ShowReportPresupuestoRequest" message="tns:ShowReportPresupuesto"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/ShowReportPresupuestoResponse" message="tns:ShowReportPresupuestoResponse"/>
</operation>
<operation name="ShowReportVerPresupuesto">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/ShowReportVerPresupuestoRequest" message="tns:ShowReportVerPresupuesto"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/ShowReportVerPresupuestoResponse" message="tns:ShowReportVerPresupuestoResponse"/>
</operation>
<operation name="verPresupuestosPaginados">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/verPresupuestosPaginadosRequest" message="tns:verPresupuestosPaginados"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/verPresupuestosPaginadosResponse" message="tns:verPresupuestosPaginadosResponse"/>
</operation>
<operation name="addBudgets">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/addBudgetsRequest" message="tns:addBudgets"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/addBudgetsResponse" message="tns:addBudgetsResponse"/>
</operation>
<operation name="searchOneBudget">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/searchOneBudgetRequest" message="tns:searchOneBudget"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/searchOneBudgetResponse" message="tns:searchOneBudgetResponse"/>
</operation>
<operation name="getRecordCount">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/getRecordCountRequest" message="tns:getRecordCount"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/getRecordCountResponse" message="tns:getRecordCountResponse"/>
</operation>
</portType>
<binding name="PresupuestoWsPortBinding" type="tns:PresupuestoWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="selectAllPresupuestosJPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ShowReportPresupuesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ShowReportVerPresupuesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verPresupuestosPaginados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBudgets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchOneBudget">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecordCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicesPresupuestos">
<port name="PresupuestoWsPort" binding="tns:PresupuestoWsPortBinding">
<soap:address location="http://localhost:8080/ServicesPresupuestos/PresupuestoWs"/>
</port>
</service>
</definitions>