WebMelanie2/src/conf/xml-resources/web-service-references/BarriosWs/wsdl/localhost_8080/ServiceBarrios/BarriosWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.melani.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.melani.com/">

<xs:element name="addBarrio" type="tns:addBarrio"/>

<xs:element name="addBarrioResponse" type="tns:addBarrioResponse"/>

<xs:element name="recordCountBarrios" type="tns:recordCountBarrios"/>

<xs:element name="recordCountBarriosResponse" type="tns:recordCountBarriosResponse"/>

<xs:element name="searchAllBarrios" type="tns:searchAllBarrios"/>

<xs:element name="searchAllBarriosResponse" type="tns:searchAllBarriosResponse"/>

<xs:complexType name="searchAllBarrios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="searchAllBarriosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBarrio">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addBarrioResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordCountBarrios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="recordCountBarriosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>