WebMelanie2/src/conf/xml-resources/web-service-references/NotaPedidoWs/wsdl/192.168.1.100_8080/ServiceNotaPedido/NotaPedidoWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServiceNotaPedido">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.melani.com/" schemaLocation="http://192.168.1.100:8080/ServiceNotaPedido/NotaPedidoWs?xsd=1"/>
</xsd:schema>
</types>
<message name="parsearCaracteresEspecialesXML">
<part name="parameters" element="tns:parsearCaracteresEspecialesXML"/>
</message>
<message name="parsearCaracteresEspecialesXMLResponse">
<part name="parameters" element="tns:parsearCaracteresEspecialesXMLResponse"/>
</message>
<message name="calcularVentasMensualesHastaFechaYAnoActual">
<part name="parameters" element="tns:calcularVentasMensualesHastaFechaYAnoActual"/>
</message>
<message name="calcularVentasMensualesHastaFechaYAnoActualResponse">
<part name="parameters" element="tns:calcularVentasMensualesHastaFechaYAnoActualResponse"/>
</message>
<message name="selectUnaNota">
<part name="parameters" element="tns:selectUnaNota"/>
</message>
<message name="selectUnaNotaResponse">
<part name="parameters" element="tns:selectUnaNotaResponse"/>
</message>
<message name="agregarNotaPedido">
<part name="parameters" element="tns:agregarNotaPedido"/>
</message>
<message name="agregarNotaPedidoResponse">
<part name="parameters" element="tns:agregarNotaPedidoResponse"/>
</message>
<message name="modificarSaldoNota">
<part name="parameters" element="tns:modificarSaldoNota"/>
</message>
<message name="modificarSaldoNotaResponse">
<part name="parameters" element="tns:modificarSaldoNotaResponse"/>
</message>
<message name="cancelarNotaPedido">
<part name="parameters" element="tns:cancelarNotaPedido"/>
</message>
<message name="cancelarNotaPedidoResponse">
<part name="parameters" element="tns:cancelarNotaPedidoResponse"/>
</message>
<message name="entregarNotaPedido">
<part name="parameters" element="tns:entregarNotaPedido"/>
</message>
<message name="entregarNotaPedidoResponse">
<part name="parameters" element="tns:entregarNotaPedidoResponse"/>
</message>
<message name="selectNotaEntreFechas">
<part name="parameters" element="tns:selectNotaEntreFechas"/>
</message>
<message name="selectNotaEntreFechasResponse">
<part name="parameters" element="tns:selectNotaEntreFechasResponse"/>
</message>
<message name="getRecorCountNotas">
<part name="parameters" element="tns:getRecorCountNotas"/>
</message>
<message name="getRecorCountNotasResponse">
<part name="parameters" element="tns:getRecorCountNotasResponse"/>
</message>
<message name="selectAllNotas">
<part name="parameters" element="tns:selectAllNotas"/>
</message>
<message name="selectAllNotasResponse">
<part name="parameters" element="tns:selectAllNotasResponse"/>
</message>
<message name="verNotasPedidoPaginadas">
<part name="parameters" element="tns:verNotasPedidoPaginadas"/>
</message>
<message name="verNotasPedidoPaginadasResponse">
<part name="parameters" element="tns:verNotasPedidoPaginadasResponse"/>
</message>
<message name="anularNotaPedido">
<part name="parameters" element="tns:anularNotaPedido"/>
</message>
<message name="anularNotaPedidoResponse">
<part name="parameters" element="tns:anularNotaPedidoResponse"/>
</message>
<message name="actualizarNotaPedido">
<part name="parameters" element="tns:actualizarNotaPedido"/>
</message>
<message name="actualizarNotaPedidoResponse">
<part name="parameters" element="tns:actualizarNotaPedidoResponse"/>
</message>
<message name="selecNotaEntreFechasEntrega">
<part name="parameters" element="tns:selecNotaEntreFechasEntrega"/>
</message>
<message name="selecNotaEntreFechasEntregaResponse">
<part name="parameters" element="tns:selecNotaEntreFechasEntregaResponse"/>
</message>
<message name="eliminarNotaDePedido">
<part name="parameters" element="tns:eliminarNotaDePedido"/>
</message>
<message name="eliminarNotaDePedidoResponse">
<part name="parameters" element="tns:eliminarNotaDePedidoResponse"/>
</message>
<portType name="NotaPedidoWs">
<operation name="parsearCaracteresEspecialesXML">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/parsearCaracteresEspecialesXMLRequest" message="tns:parsearCaracteresEspecialesXML"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/parsearCaracteresEspecialesXMLResponse" message="tns:parsearCaracteresEspecialesXMLResponse"/>
</operation>
<operation name="calcularVentasMensualesHastaFechaYAnoActual">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/calcularVentasMensualesHastaFechaYAnoActualRequest" message="tns:calcularVentasMensualesHastaFechaYAnoActual"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/calcularVentasMensualesHastaFechaYAnoActualResponse" message="tns:calcularVentasMensualesHastaFechaYAnoActualResponse"/>
</operation>
<operation name="selectUnaNota">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/selectUnaNotaRequest" message="tns:selectUnaNota"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/selectUnaNotaResponse" message="tns:selectUnaNotaResponse"/>
</operation>
<operation name="agregarNotaPedido">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/agregarNotaPedidoRequest" message="tns:agregarNotaPedido"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/agregarNotaPedidoResponse" message="tns:agregarNotaPedidoResponse"/>
</operation>
<operation name="modificarSaldoNota">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/modificarSaldoNotaRequest" message="tns:modificarSaldoNota"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/modificarSaldoNotaResponse" message="tns:modificarSaldoNotaResponse"/>
</operation>
<operation name="cancelarNotaPedido">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/cancelarNotaPedidoRequest" message="tns:cancelarNotaPedido"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/cancelarNotaPedidoResponse" message="tns:cancelarNotaPedidoResponse"/>
</operation>
<operation name="entregarNotaPedido">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/entregarNotaPedidoRequest" message="tns:entregarNotaPedido"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/entregarNotaPedidoResponse" message="tns:entregarNotaPedidoResponse"/>
</operation>
<operation name="selectNotaEntreFechas">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/selectNotaEntreFechasRequest" message="tns:selectNotaEntreFechas"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/selectNotaEntreFechasResponse" message="tns:selectNotaEntreFechasResponse"/>
</operation>
<operation name="getRecorCountNotas">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/getRecorCountNotasRequest" message="tns:getRecorCountNotas"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/getRecorCountNotasResponse" message="tns:getRecorCountNotasResponse"/>
</operation>
<operation name="selectAllNotas">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/selectAllNotasRequest" message="tns:selectAllNotas"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/selectAllNotasResponse" message="tns:selectAllNotasResponse"/>
</operation>
<operation name="verNotasPedidoPaginadas">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/verNotasPedidoPaginadasRequest" message="tns:verNotasPedidoPaginadas"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/verNotasPedidoPaginadasResponse" message="tns:verNotasPedidoPaginadasResponse"/>
</operation>
<operation name="anularNotaPedido">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/anularNotaPedidoRequest" message="tns:anularNotaPedido"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/anularNotaPedidoResponse" message="tns:anularNotaPedidoResponse"/>
</operation>
<operation name="actualizarNotaPedido">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/actualizarNotaPedidoRequest" message="tns:actualizarNotaPedido"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/actualizarNotaPedidoResponse" message="tns:actualizarNotaPedidoResponse"/>
</operation>
<operation name="selecNotaEntreFechasEntrega">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/selecNotaEntreFechasEntregaRequest" message="tns:selecNotaEntreFechasEntrega"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/selecNotaEntreFechasEntregaResponse" message="tns:selecNotaEntreFechasEntregaResponse"/>
</operation>
<operation name="eliminarNotaDePedido">
<input wsam:Action="http://ejb.melani.com/NotaPedidoWs/eliminarNotaDePedidoRequest" message="tns:eliminarNotaDePedido"/>
<output wsam:Action="http://ejb.melani.com/NotaPedidoWs/eliminarNotaDePedidoResponse" message="tns:eliminarNotaDePedidoResponse"/>
</operation>
</portType>
<binding name="NotaPedidoWsPortBinding" type="tns:NotaPedidoWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="parsearCaracteresEspecialesXML">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularVentasMensualesHastaFechaYAnoActual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectUnaNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarNotaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarSaldoNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelarNotaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="entregarNotaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectNotaEntreFechas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRecorCountNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selectAllNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verNotasPedidoPaginadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="anularNotaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarNotaPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="selecNotaEntreFechasEntrega">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarNotaDePedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceNotaPedido">
<port name="NotaPedidoWsPort" binding="tns:NotaPedidoWsPortBinding">
<soap:address location="http://192.168.1.100:8080/ServiceNotaPedido/NotaPedidoWs"/>
</port>
</service>
</definitions>