trunk/WebMelanie2/web/WEB-INF/wsdl/192.168.1.102_8080/ServiceNotaPedido/NotaPedidoWs.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.melani.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.melani.com/">

<xs:element name="actualizarNotaPedido" type="tns:actualizarNotaPedido"/>

<xs:element name="actualizarNotaPedidoResponse" type="tns:actualizarNotaPedidoResponse"/>

<xs:element name="agregarNotaPedido" type="tns:agregarNotaPedido"/>

<xs:element name="agregarNotaPedidoResponse" type="tns:agregarNotaPedidoResponse"/>

<xs:element name="anularNotaPedido" type="tns:anularNotaPedido"/>

<xs:element name="anularNotaPedidoResponse" type="tns:anularNotaPedidoResponse"/>

<xs:element name="calcularVentasMensualesHastaFechaYAnoActual" type="tns:calcularVentasMensualesHastaFechaYAnoActual"/>

<xs:element name="calcularVentasMensualesHastaFechaYAnoActualResponse" type="tns:calcularVentasMensualesHastaFechaYAnoActualResponse"/>

<xs:element name="cancelarNotaPedido" type="tns:cancelarNotaPedido"/>

<xs:element name="cancelarNotaPedidoResponse" type="tns:cancelarNotaPedidoResponse"/>

<xs:element name="eliminarNotaDePedido" type="tns:eliminarNotaDePedido"/>

<xs:element name="eliminarNotaDePedidoResponse" type="tns:eliminarNotaDePedidoResponse"/>

<xs:element name="entregarNotaPedido" type="tns:entregarNotaPedido"/>

<xs:element name="entregarNotaPedidoResponse" type="tns:entregarNotaPedidoResponse"/>

<xs:element name="getRecorCountNotas" type="tns:getRecorCountNotas"/>

<xs:element name="getRecorCountNotasResponse" type="tns:getRecorCountNotasResponse"/>

<xs:element name="modificarSaldoNota" type="tns:modificarSaldoNota"/>

<xs:element name="modificarSaldoNotaResponse" type="tns:modificarSaldoNotaResponse"/>

<xs:element name="parsearCaracteresEspecialesXML" type="tns:parsearCaracteresEspecialesXML"/>

<xs:element name="parsearCaracteresEspecialesXMLResponse" type="tns:parsearCaracteresEspecialesXMLResponse"/>

<xs:element name="selecNotaEntreFechasEntrega" type="tns:selecNotaEntreFechasEntrega"/>

<xs:element name="selecNotaEntreFechasEntregaResponse" type="tns:selecNotaEntreFechasEntregaResponse"/>

<xs:element name="selectAllNotas" type="tns:selectAllNotas"/>

<xs:element name="selectAllNotasResponse" type="tns:selectAllNotasResponse"/>

<xs:element name="selectNotaEntreFechas" type="tns:selectNotaEntreFechas"/>

<xs:element name="selectNotaEntreFechasResponse" type="tns:selectNotaEntreFechasResponse"/>

<xs:element name="selectUnaNota" type="tns:selectUnaNota"/>

<xs:element name="selectUnaNotaResponse" type="tns:selectUnaNotaResponse"/>

<xs:element name="verNotasPedidoPaginadas" type="tns:verNotasPedidoPaginadas"/>

<xs:element name="verNotasPedidoPaginadasResponse" type="tns:verNotasPedidoPaginadasResponse"/>

<xs:complexType name="calcularVentasMensualesHastaFechaYAnoActual">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="calcularVentasMensualesHastaFechaYAnoActualResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarSaldoNota">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:double"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarSaldoNotaResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRecorCountNotas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRecorCountNotasResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anularNotaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:long"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="anularNotaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarNotaDePedido">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarNotaDePedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarNotaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelarNotaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectAllNotas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="selectAllNotasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarNotaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarNotaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectUnaNota">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectUnaNotaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parsearCaracteresEspecialesXML">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parsearCaracteresEspecialesXMLResponse">
<xs:sequence>
<xs:element name="return" type="tns:stringBuilder" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stringBuilder" final="extension restriction">
<xs:complexContent>
<xs:extension base="tns:abstractStringBuilder">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractStringBuilder" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="entregarNotaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entregarNotaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectNotaEntreFechas">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selectNotaEntreFechasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verNotasPedidoPaginadas">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verNotasPedidoPaginadasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selecNotaEntreFechasEntrega">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="selecNotaEntreFechasEntregaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarNotaPedido">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarNotaPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>