WebMelanie2/src/java/META-INF/ProductosWs.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServiceProductos">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.melani.com/" schemaLocation="http://192.168.1.100:8080/ServiceProductos/ProductosWs?xsd=1"/>
</xsd:schema>
</types>
<message name="actualizarProducto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="actualizarProductoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="obtenerImagenProducto">
<part name="arg0" type="xsd:int"/>
</message>
<message name="obtenerImagenProductoResponse">
<part name="return" type="xsd:base64Binary"/>
</message>
<message name="addExistenciasProducto">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:float"/>
<part name="arg3" type="xsd:int"/>
</message>
<message name="addExistenciasProductoResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="leerImagenBaseDatos">
<part name="arg0" type="xsd:int"/>
</message>
<message name="leerImagenBaseDatosResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="selectoneproducto">
<part name="arg0" type="xsd:long"/>
</message>
<message name="selectoneproductoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="agregarProductos">
<part name="arg0" type="tns:productos"/>
</message>
<message name="agregarProductosResponse">
<part name="return" type="tns:productos"/>
</message>
<message name="searchAllProductos"/>
<message name="searchAllProductosResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="controlStockProducto">
<part name="arg0" type="xsd:long"/>
<part name="arg1" type="xsd:int"/>
<part name="arg2" type="xsd:int"/>
</message>
<message name="controlStockProductoResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="addProducto">
<part name="arg0" type="xsd:string"/>
</message>
<message name="addProductoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="grabarImagen">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:base64Binary"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="grabarImagenResponse">
<part name="return" type="xsd:int"/>
</message>
<portType name="ProductosWs">
<operation name="actualizarProducto">
<input wsam:Action="http://ejb.melani.com/ProductosWs/actualizarProductoRequest" message="tns:actualizarProducto"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/actualizarProductoResponse" message="tns:actualizarProductoResponse"/>
</operation>
<operation name="obtenerImagenProducto">
<input wsam:Action="http://ejb.melani.com/ProductosWs/obtenerImagenProductoRequest" message="tns:obtenerImagenProducto"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/obtenerImagenProductoResponse" message="tns:obtenerImagenProductoResponse"/>
</operation>
<operation name="addExistenciasProducto" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://ejb.melani.com/ProductosWs/addExistenciasProductoRequest" message="tns:addExistenciasProducto"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/addExistenciasProductoResponse" message="tns:addExistenciasProductoResponse"/>
</operation>
<operation name="leerImagenBaseDatos">
<input wsam:Action="http://ejb.melani.com/ProductosWs/leerImagenBaseDatosRequest" message="tns:leerImagenBaseDatos"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/leerImagenBaseDatosResponse" message="tns:leerImagenBaseDatosResponse"/>
</operation>
<operation name="selectoneproducto">
<input wsam:Action="http://ejb.melani.com/ProductosWs/selectoneproductoRequest" message="tns:selectoneproducto"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/selectoneproductoResponse" message="tns:selectoneproductoResponse"/>
</operation>
<operation name="agregarProductos">
<input wsam:Action="http://ejb.melani.com/ProductosWs/agregarProductosRequest" message="tns:agregarProductos"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/agregarProductosResponse" message="tns:agregarProductosResponse"/>
</operation>
<operation name="searchAllProductos">
<input wsam:Action="http://ejb.melani.com/ProductosWs/searchAllProductosRequest" message="tns:searchAllProductos"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/searchAllProductosResponse" message="tns:searchAllProductosResponse"/>
</operation>
<operation name="controlStockProducto" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://ejb.melani.com/ProductosWs/controlStockProductoRequest" message="tns:controlStockProducto"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/controlStockProductoResponse" message="tns:controlStockProductoResponse"/>
</operation>
<operation name="addProducto">
<input wsam:Action="http://ejb.melani.com/ProductosWs/addProductoRequest" message="tns:addProducto"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/addProductoResponse" message="tns:addProductoResponse"/>
</operation>
<operation name="grabarImagen" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://ejb.melani.com/ProductosWs/grabarImagenRequest" message="tns:grabarImagen"/>
<output wsam:Action="http://ejb.melani.com/ProductosWs/grabarImagenResponse" message="tns:grabarImagenResponse"/>
</operation>
</portType>
<binding name="ProductosWsPortBinding" type="tns:ProductosWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="actualizarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="obtenerImagenProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addExistenciasProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="leerImagenBaseDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="selectoneproducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="agregarProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="searchAllProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="controlStockProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="grabarImagen">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
</binding>
<service name="ServiceProductos">
<port name="ProductosWsPort" binding="tns:ProductosWsPortBinding">
<soap:address location="http://192.168.1.100:8080/ServiceProductos/ProductosWs"/>
</port>
</service>
</definitions>