trunk/WebMelanie2/web/WEB-INF/wsdl/localhost_8080/ServiceClientes/ClientesWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServiceClientes">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.melani.com/" schemaLocation="http://localhost:8080/ServiceClientes/ClientesWs?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerClienteXTipoAndNumeroDocu">
<part name="arg0" type="xsd:short"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="obtenerClienteXTipoAndNumeroDocuResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="searchClientForNameAndLastName">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="searchClientForNameAndLastNameResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="parsearCaracteresEspecialesXML1">
<part name="arg0" type="xsd:string"/>
</message>
<message name="parsearCaracteresEspecialesXML1Response">
<part name="return" type="xsd:string"/>
</message>
<message name="addCliente">
<part name="arg0" type="xsd:string"/>
</message>
<message name="addClienteResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="addClientes">
<part name="arg0" type="tns:clientes"/>
</message>
<message name="addClientesResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="addDatosCliente">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:short"/>
<part name="arg3" type="xsd:int"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:short"/>
</message>
<message name="addDatosClienteResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="obtenerCliente">
<part name="arg0" type="xsd:long"/>
</message>
<message name="obtenerClienteResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="updateCliente">
<part name="arg0" type="tns:clientes"/>
</message>
<message name="updateClienteResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="getCustomerDocNumber">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getCustomerDocNumberResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="chequearemail">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="chequearemailResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="addClienteDatosPersonales">
<part name="arg0" type="xsd:string"/>
</message>
<message name="addClienteDatosPersonalesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ShowReportClient"/>
<message name="ShowReportClientResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="obtenerClientesySusNotas"/>
<message name="obtenerClientesySusNotasResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="ClientesWs">
<operation name="obtenerClienteXTipoAndNumeroDocu" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/ClientesWs/obtenerClienteXTipoAndNumeroDocuRequest" message="tns:obtenerClienteXTipoAndNumeroDocu"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/obtenerClienteXTipoAndNumeroDocuResponse" message="tns:obtenerClienteXTipoAndNumeroDocuResponse"/>
</operation>
<operation name="searchClientForNameAndLastName" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/ClientesWs/searchClientForNameAndLastNameRequest" message="tns:searchClientForNameAndLastName"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/searchClientForNameAndLastNameResponse" message="tns:searchClientForNameAndLastNameResponse"/>
</operation>
<operation name="parsearCaracteresEspecialesXML1">
<input wsam:Action="http://ejb.melani.com/ClientesWs/parsearCaracteresEspecialesXML1Request" message="tns:parsearCaracteresEspecialesXML1"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/parsearCaracteresEspecialesXML1Response" message="tns:parsearCaracteresEspecialesXML1Response"/>
</operation>
<operation name="addCliente">
<input wsam:Action="http://ejb.melani.com/ClientesWs/addClienteRequest" message="tns:addCliente"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/addClienteResponse" message="tns:addClienteResponse"/>
</operation>
<operation name="addClientes">
<input wsam:Action="http://ejb.melani.com/ClientesWs/addClientesRequest" message="tns:addClientes"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/addClientesResponse" message="tns:addClientesResponse"/>
</operation>
<operation name="addDatosCliente" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://ejb.melani.com/ClientesWs/addDatosClienteRequest" message="tns:addDatosCliente"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/addDatosClienteResponse" message="tns:addDatosClienteResponse"/>
</operation>
<operation name="obtenerCliente">
<input wsam:Action="http://ejb.melani.com/ClientesWs/obtenerClienteRequest" message="tns:obtenerCliente"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/obtenerClienteResponse" message="tns:obtenerClienteResponse"/>
</operation>
<operation name="updateCliente">
<input wsam:Action="http://ejb.melani.com/ClientesWs/updateClienteRequest" message="tns:updateCliente"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/updateClienteResponse" message="tns:updateClienteResponse"/>
</operation>
<operation name="getCustomerDocNumber">
<input wsam:Action="http://ejb.melani.com/ClientesWs/getCustomerDocNumberRequest" message="tns:getCustomerDocNumber"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/getCustomerDocNumberResponse" message="tns:getCustomerDocNumberResponse"/>
</operation>
<operation name="chequearemail" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/ClientesWs/chequearemailRequest" message="tns:chequearemail"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/chequearemailResponse" message="tns:chequearemailResponse"/>
</operation>
<operation name="addClienteDatosPersonales">
<input wsam:Action="http://ejb.melani.com/ClientesWs/addClienteDatosPersonalesRequest" message="tns:addClienteDatosPersonales"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/addClienteDatosPersonalesResponse" message="tns:addClienteDatosPersonalesResponse"/>
</operation>
<operation name="ShowReportClient">
<input wsam:Action="http://ejb.melani.com/ClientesWs/ShowReportClientRequest" message="tns:ShowReportClient"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/ShowReportClientResponse" message="tns:ShowReportClientResponse"/>
</operation>
<operation name="obtenerClientesySusNotas">
<input wsam:Action="http://ejb.melani.com/ClientesWs/obtenerClientesySusNotasRequest" message="tns:obtenerClientesySusNotas"/>
<output wsam:Action="http://ejb.melani.com/ClientesWs/obtenerClientesySusNotasResponse" message="tns:obtenerClientesySusNotasResponse"/>
</operation>
</portType>
<binding name="ClientesWsPortBinding" type="tns:ClientesWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="obtenerClienteXTipoAndNumeroDocu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="searchClientForNameAndLastName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="parsearCaracteresEspecialesXML1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addClientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addDatosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="obtenerCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="updateCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="getCustomerDocNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="chequearemail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addClienteDatosPersonales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="ShowReportClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="obtenerClientesySusNotas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
</binding>
<service name="ServiceClientes">
<port name="ClientesWsPort" binding="tns:ClientesWsPortBinding">
<soap:address location="http://localhost:8080/ServiceClientes/ClientesWs"/>
</port>
</service>
</definitions>