WebMelanie2/web/WEB-INF/wsdl/localhost_8080/ServiceBarrios/BarriosWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServiceBarrios">
<types/>
<message name="searchAllBarrios"/>
<message name="searchAllBarriosResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="addBarrio">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="addBarrioResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="recordCountBarrios"/>
<message name="recordCountBarriosResponse">
<part name="return" type="xsd:int"/>
</message>
<portType name="BarriosWs">
<operation name="searchAllBarrios">
<input wsam:Action="http://ejb.melani.com/BarriosWs/searchAllBarriosRequest" message="tns:searchAllBarrios"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/searchAllBarriosResponse" message="tns:searchAllBarriosResponse"/>
</operation>
<operation name="addBarrio" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/BarriosWs/addBarrioRequest" message="tns:addBarrio"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/addBarrioResponse" message="tns:addBarrioResponse"/>
</operation>
<operation name="recordCountBarrios">
<input wsam:Action="http://ejb.melani.com/BarriosWs/recordCountBarriosRequest" message="tns:recordCountBarrios"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/recordCountBarriosResponse" message="tns:recordCountBarriosResponse"/>
</operation>
</portType>
<binding name="BarriosWsPortBinding" type="tns:BarriosWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="searchAllBarrios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="addBarrio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="recordCountBarrios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
</binding>
<service name="ServiceBarrios">
<port name="BarriosWsPort" binding="tns:BarriosWsPortBinding">
<soap:address location="http://localhost:8080/ServiceBarrios/BarriosWs"/>
</port>
</service>
</definitions>