WebMelanie2/web/WEB-INF/wsdl/localhost_8080/ServicesCalles/CallesWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServicesCalles">
<types/>
<message name="addCalles">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="addCallesResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="searchAllCalles"/>
<message name="searchAllCallesResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="recorCountCalles"/>
<message name="recorCountCallesResponse">
<part name="return" type="xsd:anyType"/>
</message>
<portType name="CallesWs">
<operation name="addCalles" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/CallesWs/addCallesRequest" message="tns:addCalles"/>
<output wsam:Action="http://ejb.melani.com/CallesWs/addCallesResponse" message="tns:addCallesResponse"/>
</operation>
<operation name="searchAllCalles">
<input wsam:Action="http://ejb.melani.com/CallesWs/searchAllCallesRequest" message="tns:searchAllCalles"/>
<output wsam:Action="http://ejb.melani.com/CallesWs/searchAllCallesResponse" message="tns:searchAllCallesResponse"/>
</operation>
<operation name="recorCountCalles">
<input wsam:Action="http://ejb.melani.com/CallesWs/recorCountCallesRequest" message="tns:recorCountCalles"/>
<output wsam:Action="http://ejb.melani.com/CallesWs/recorCountCallesResponse" message="tns:recorCountCallesResponse"/>
</operation>
</portType>
<binding name="CallesWsPortBinding" type="tns:CallesWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="addCalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="searchAllCalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="recorCountCalles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
</binding>
<service name="ServicesCalles">
<port name="CallesWsPort" binding="tns:CallesWsPortBinding">
<soap:address location="http://localhost:8080/ServicesCalles/CallesWs"/>
</port>
</service>
</definitions>