trunk/WebMelanie2/src/java/META-INF/BarriosWs.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServiceBarrios">
<types>
<xsd:schema>
<xsd:import namespace="http://ejb.melani.com/" schemaLocation="http://localhost:8080/ServiceBarrios/BarriosWs?xsd=1"/>
</xsd:schema>
</types>
<message name="addBarrio">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="addBarrioResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="searchAllBarrios"/>
<message name="searchAllBarriosResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="recordCountBarrios"/>
<message name="recordCountBarriosResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="obtenrItemsPaginados">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="obtenrItemsPaginadosResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="barrios_Paging">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="barrios_PagingResponse">
<part name="return" type="tns:barriosArray"/>
</message>
<message name="selectAllBarrios"/>
<message name="selectAllBarriosResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="BarriosWs">
<operation name="addBarrio" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/BarriosWs/addBarrioRequest" message="tns:addBarrio"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/addBarrioResponse" message="tns:addBarrioResponse"/>
</operation>
<operation name="searchAllBarrios">
<input wsam:Action="http://ejb.melani.com/BarriosWs/searchAllBarriosRequest" message="tns:searchAllBarrios"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/searchAllBarriosResponse" message="tns:searchAllBarriosResponse"/>
</operation>
<operation name="recordCountBarrios">
<input wsam:Action="http://ejb.melani.com/BarriosWs/recordCountBarriosRequest" message="tns:recordCountBarrios"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/recordCountBarriosResponse" message="tns:recordCountBarriosResponse"/>
</operation>
<operation name="obtenrItemsPaginados" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/BarriosWs/obtenrItemsPaginadosRequest" message="tns:obtenrItemsPaginados"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/obtenrItemsPaginadosResponse" message="tns:obtenrItemsPaginadosResponse"/>
</operation>
<operation name="barrios_Paging" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/BarriosWs/barrios_PagingRequest" message="tns:barrios_Paging"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/barrios_PagingResponse" message="tns:barrios_PagingResponse"/>
</operation>
<operation name="selectAllBarrios">
<input wsam:Action="http://ejb.melani.com/BarriosWs/selectAllBarriosRequest" message="tns:selectAllBarrios"/>
<output wsam:Action="http://ejb.melani.com/BarriosWs/selectAllBarriosResponse" message="tns:selectAllBarriosResponse"/>
</operation>
</portType>
<binding name="BarriosWsPortBinding" type="tns:BarriosWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="addBarrio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="searchAllBarrios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="recordCountBarrios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="obtenrItemsPaginados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="barrios_Paging">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="selectAllBarrios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
</binding>
<service name="ServiceBarrios">
<port name="BarriosWsPort" binding="tns:BarriosWsPortBinding">
<soap:address location="http://localhost:8080/ServiceBarrios/BarriosWs"/>
</port>
</service>
</definitions>