trunk/WebMelanie2/src/java/META-INF/PresupuestoWs.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.melani.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.melani.com/" name="ServicesPresupuestos">
<types/>
<message name="addBudgets">
<part name="arg0" type="xsd:string"/>
</message>
<message name="addBudgetsResponse">
<part name="return" type="xsd:long"/>
</message>
<message name="selectAllPresupuestosJPA"/>
<message name="selectAllPresupuestosJPAResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getRecordCount"/>
<message name="getRecordCountResponse">
<part name="return" type="xsd:int"/>
</message>
<message name="selectPresupuestoOfTheDay"/>
<message name="selectPresupuestoOfTheDayResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="verPresupuestosPaginados">
<part name="arg0" type="xsd:int"/>
<part name="arg1" type="xsd:int"/>
</message>
<message name="verPresupuestosPaginadosResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="searchOneBudget">
<part name="arg0" type="xsd:int"/>
</message>
<message name="searchOneBudgetResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="ShowReportPresupuesto">
<part name="arg0" type="xsd:int"/>
</message>
<message name="ShowReportPresupuestoResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="PresupuestoWs">
<operation name="addBudgets">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/addBudgetsRequest" message="tns:addBudgets"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/addBudgetsResponse" message="tns:addBudgetsResponse"/>
</operation>
<operation name="selectAllPresupuestosJPA">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/selectAllPresupuestosJPARequest" message="tns:selectAllPresupuestosJPA"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/selectAllPresupuestosJPAResponse" message="tns:selectAllPresupuestosJPAResponse"/>
</operation>
<operation name="getRecordCount">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/getRecordCountRequest" message="tns:getRecordCount"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/getRecordCountResponse" message="tns:getRecordCountResponse"/>
</operation>
<operation name="selectPresupuestoOfTheDay">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/selectPresupuestoOfTheDayRequest" message="tns:selectPresupuestoOfTheDay"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/selectPresupuestoOfTheDayResponse" message="tns:selectPresupuestoOfTheDayResponse"/>
</operation>
<operation name="verPresupuestosPaginados" parameterOrder="arg0 arg1">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/verPresupuestosPaginadosRequest" message="tns:verPresupuestosPaginados"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/verPresupuestosPaginadosResponse" message="tns:verPresupuestosPaginadosResponse"/>
</operation>
<operation name="searchOneBudget">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/searchOneBudgetRequest" message="tns:searchOneBudget"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/searchOneBudgetResponse" message="tns:searchOneBudgetResponse"/>
</operation>
<operation name="ShowReportPresupuesto">
<input wsam:Action="http://ejb.melani.com/PresupuestoWs/ShowReportPresupuestoRequest" message="tns:ShowReportPresupuesto"/>
<output wsam:Action="http://ejb.melani.com/PresupuestoWs/ShowReportPresupuestoResponse" message="tns:ShowReportPresupuestoResponse"/>
</operation>
</portType>
<binding name="PresupuestoWsPortBinding" type="tns:PresupuestoWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="addBudgets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="selectAllPresupuestosJPA">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="getRecordCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="selectPresupuestoOfTheDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="verPresupuestosPaginados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="searchOneBudget">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
<operation name="ShowReportPresupuesto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</input>
<output>
<soap:body use="literal" namespace="http://ejb.melani.com/"/>
</output>
</operation>
</binding>
<service name="ServicesPresupuestos">
<port name="PresupuestoWsPort" binding="tns:PresupuestoWsPortBinding">
<soap:address location="http://192.168.1.100:8080/ServicesPresupuestos/PresupuestoWs"/>
</port>
</service>
</definitions>